<!-- Start Document Source Area -->
<div style="position: relative; top: -3em;" id="initiative"></div>
<section>
    <div class="document-source-area themeix-ptb">
        <div class="container" style="margin-bottom: 2em;">
            <div style="text-align: left;"><h1 style="font-size: 2.5em;">Blockchain in der Verwaltung Deutschland (BiVD)</h1><p><i>Vorstellung der Initiative von Helmut Nehrenheim (helmut.nehrenheim@mwide.nrw.de)</i></p></div>
            <div class="row">
                <div class="col-md-8">
                    <p class="text-justify">Das Thema „Blockchain“ ist seit vielen Jahren in unterschiedlichen Bereichen präsent: Neben der Kryptowährung Bitcoin hat die Blockchain oder besser die „Distributed Ledger Technology“ auch Einzug in Koalitionsverträge genommen. Ist Blockchain eine Lösung, für die wir erst ein Problem suchen müssen? Oder kann uns die Blockchain-Technology helfen, das Verwaltungshandeln zum Wohle der Bürgerinnen und Bürger sowie der Wirtschaft effizienter zu gestalten?</p>
                    <br/>
                    <a href="/blog/2018/08/01/hello-world.html" class="themeix-btn danger-bg">Mehr lesen</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div style="text-align: left;"><h1 style="font-size: 2.5em;">Warum Blockchain?</h1><br/></div>
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col">
                            <div class="single-box">
                                <div class="box-inner">
                                    <h3>Handlungsbedarf</h3>
                                    <p>Auf bundes- und landesebene Ebene besteht ein politisches Mandat um Blockchain für die digitale Verwaltung zu nutzen.</p>
                                    <div class="themeix-btn danger-bg">Nachlesen</div>
                                </div>
                                <div class="box-flip">
                                    <div class="flip-box-innner">
                                        <h3>Handlungsbedarf</h3>
                                        <p>Das Thema „Blockchain“ ist präsent (Koalitionsverträge Bund und NRW), aber es gibt kein koordiniertes Vorgehen in der Verwaltung.</p>
                                        <a href="https://www.cdu.de/system/tdf/media/dokumente/koalitionsvertrag_2018.pdf?file=1" target="_blank" class="themeix-btn danger-bg">Koalitionsvertrag Bund</a>
                                        <a href="https://www.cdu-nrw.de/sites/default/files/media/docs/nrwkoalition_koalitionsvertrag_fuer_nordrhein-westfalen_2017_-_2022.pdf" target="_blank" class="themeix-btn danger-bg" style="margin-top: 1em;">Koalitionsvertrag NRW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1em;">
                        <div class="col">
                            <div class="single-box">
                                <div class="box-inner">
                                    <h3>Gov meets Tech</h3>
                                    <p>Die BiVD Initiative arbeitet verwaltungsübergreifend, mit bundes- und landesbehörden sowie Unternehmen.</p>
                                    <div class="themeix-btn danger-bg">Nachlesen</div>
                                </div>
                                <div class="box-flip">
                                    <div class="flip-box-innner">
                                        <h3>Gov meets Tech</h3>
                                        <p>Das Land NRW (CIO) hat zusammen mit Partnern aus Bund (BAMF) und Verbänden (Blockchain Bundesverband e.V. und Vitako) diese Initiative ins Leben gerufen.</p>
                                        <a href="/blog/2018/08/01/hello-world.html" class="themeix-btn danger-bg">Nachlesen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" style="text-align: center">
                    <img src="../assets/images/sketches/vorteile2.png" style="max-width: 85%">
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- End Document Source Area -->