    <!-- Awards -->
    <div class="awards-section themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-awards owl-carousel">
                        <div><img src="{{site.baseurl}}/assets/images/nrw-banner.png" alt="Ministerium für Wirtschaft, Innovation, Digitalisierung und Energie des Landes Nordrhein-Westfalen"></div>
                        <div><img src="{{site.baseurl}}/assets/images/bamf-banner.png" alt="Bundesamt für Migration und Flüchtlinge"></div>
                        <div><div class="article-icon">
                            <span class="fa fa-chain" style="line-height: 6em; color: #222c59; margin-left: 2em;"></span>
                        </div></div>
                        <div><img src="{{site.baseurl}}/assets/images/bbvb-banner.png" alt="Blockchain Bundesverband e.V."></div>
                        <div><img src="{{site.baseurl}}/assets/images/vitako-banner.png" alt="Vitako"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Awards -->