    <!-- Start Call To Action Area -->
    <div class="call-to-action-area hover-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="action-content">
                        <h2>Sprechen Sie mit uns! </h2>
                        <p>Mit unserer Leitung per <a href="mailto:info@bivd-initiative.de" style="color: #fff; text-decoration: underline;" >E-Mail</a> oder in der <a href="https://join.slack.com/t/bundesblock/shared_invite/enQtNDExMDA3ODc2MDk5LTg5OTkxZDhjNWM2OTRmNDFkNjI3YzlmYmFiNzc2MTRlYjZlODhhNGQwNjQ0Y2VjYjExYWFkZjFhYzkwYTBlNjc" style="color: #fff; text-decoration: underline;" target="_blank">Bundesblock Slack Community</a> (<a href="https://bundesblock.slack.com/messages/CC2SKGENQ" style="color: #fff; text-decoration: none;" target="_blank">#bundesblockchain</a>).</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="purchase-link text-right">
                        <a href="mailto:info@bivd-initiative.de" class="themeix-purchase-btn-3">info@bivd-initiative.de</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call To Action Area -->