    <!-- Start Parallax section -->
    <div class="parallax-area themeix-ptb">
        <div class="container">
            <div class="row">
              <div class="col-md-offset-2 col-md-8">
                  <div class="themeix-section-title text-center">
                   <h2>Vision und Werte</h2>
                   <p>Wir wollen an der konkreten Umsetzung arbeiten, um die Blockchain-Technologie (Distributed Ledger Technology) in der Verwaltung voranzubringen.</p>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
              <div class="article-icon">
                  <span class="fa fa-gears"></span>
              </div>
                <div class="article-text">
                    <a class="article-title" href="#">Dezentrale Architektur</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
             </div>
            </div>
           <div class="col-sm-6 col-md-4">
             <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-desktop"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">Gemeinsame Standards</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
            </div>
           </div>
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-magic"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">Offene Schnittstellen</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
              <div class="article-icon">
                  <span class="fa fa-question"></span>
              </div>
                <div class="article-text">
                    <a class="article-title" href="#">Open Source Software</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
             </div>
            </div>
           <div class="col-sm-6 col-md-4">
             <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-key"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">Privacy By Design</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
            </div>
           </div>
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-frown-o"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">Once Only Prinzip</a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
    <!-- End Parallax section -->