    <!-- Start Parallax section -->
    <div class="parallax-area themeix-ptb">
        <div class="container">
            <div class="row">
              <div class="col-md-offset-2 col-md-8">
                  <div class="themeix-section-title text-center">
                   <h2>Vision und Werte</h2>
                   <p>Wir wollen an der konkreten Umsetzung arbeiten, um die Blockchain-Technologie (Distributed Ledger Technology) in der Verwaltung voranzubringen.</p>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
              <div class="article-icon">
                  <span class="fa fa-gears"></span>
              </div>
                <div class="article-text">
                    <a class="article-title" href="#">Dezentrale Architektur</a>
                    <p>Für eine partizipative und widerstandsfähige Infrastruktur.</p>
                </div>
             </div>
            </div>
           <div class="col-sm-6 col-md-4">
             <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-group"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">Gemeinsame Standards</a>
                    <p>Für mehr Effizienz in der Verwaltung in Deutschland und Europa.</p>
                </div>
            </div>
           </div>
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-unlock"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">Offene Schnittstellen</a>
                    <p>Für ein dynamisches, innovativoffenes Miteinander.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
              <div class="article-icon">
                  <span class="fa fa-file-code-o"></span>
              </div>
                <div class="article-text">
                    <a class="article-title" href="#">Open Source Software</a>
                    <p>Für höchstmögliche Sicherheit und Transparenz.</p>
                </div>
             </div>
            </div>
           <div class="col-sm-6 col-md-4">
             <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-key"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">Privacy By Design</a>
                    <p>Datensparsamkeit und Datenhoheit der Bürger sind hohe Güter.</p>
                </div>
            </div>
           </div>
            <div class="col-sm-6 col-md-4">
              <div class="single-article">
                <div class="article-icon">
                    <span class="fa fa-smile-o"></span>
                </div>
                <div class="article-text">
                    <a class="article-title" href="#">Once Only Prinzip</a>
                    <p>Once-Only wird mit Blockchain zum Normalfall.</p>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
    <!-- End Parallax section -->