    <!-- Start Footer Area -->
    <footer>
        <div class="footer-area themeix-ptb">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">BiVD</h3>
                                <div class="single-footer-text">
                                    <p>Eine Initiative von Bund, Ländern und Unternehmen zur Entwicklung essentieller Basisinfrastruktur in Deutschland, für eine moderne und rechtssichere Verwaltung.</p>
                                </div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="https://twitter.com/bivd_init" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://github.com/bundesblock/bivd" target="_blank"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading"></h3>
                                <div class="footer-list">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading"></h3>
                                <div class="footer-list">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Newsletter</h3>
                                <p>Der BiVD informiert periodisch über neue Entwicklungen.</p>
                                <div class="subscribe-form">
                                    <form action="https://formspree.io/your@email.com" method="post">
                                        <input type="email" name="subscribe" id="subscribe" class="form-control" placeholder="Email" required>
                                        <button type="submit" class="hover-bg">Los</button>
                                    </form>
                                    <span>Wir möchten Spam vermeiden</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom Area -->
        <div class="footer-bottom-area themeix-pb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-bottom">
                            <div class="footer-logo">
                                <img src="../assets/images/bivd5.png" style="-webkit-filter: grayscale(100%); filter: grayscale(100%); opacity: .5; width: 8em; height: auto; margin: 3em;" alt="BiVD - Blockchain in der Verwaltung Deutschland">
                            </div>
                            <div class="footer-links">
                                <ul>
                                    <li><a href="#">Datenschutz</a></li>
                                    <li><a href="#">Impressum</a></li>
                                </ul>
                            </div>
                            <div class="copyright-text">
                                <p>Zeichnungen von <a href="https://twitter.com/lawmeetsart" target="_blank">Dalia Mollat</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom Area -->
        <!-- Start Scroll To Top -->
        <div class="scroll-top">
            <div class="scroll-icon">
                <i class="fa fa-angle-up"></i>
            </div>
        </div>
        <!-- End Scroll To Top -->
    </footer>
    <!-- End Footer Area -->

    <!-- jquery min -->
    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Js -->
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>

    <!-- jQuery Easing -->
    <script src="{{site.baseurl}}/assets/js/jquery.easing.js"></script>

    <!-- Owl Carousel Js -->
    <script src="{{site.baseurl}}/assets/js/owl.carousel.min.js"></script>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOCx7VEftKaGSK2F2p_tUKmMSdN00palo"></script>

    <!-- Mean Menu -->
    <script src="{{site.baseurl}}/assets/js/jquery.meanmenu.js"></script>

    <!-- Particles JS CDN -->
    <script src="{{site.baseurl}}/assets/js/particles.min.js"></script> 

    <!-- Main Js -->
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>