<!-- Start Document Source Area -->
<div style="position: relative; top: -3em;" id="partner"></div>
<section>
    <div class="document-source-area themeix-ptb">
        <div class="container">

            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="themeix-section-title text-center">
                        <h2>Unsere Partner</h2>
                        <p>Wir arbeiten gemeinsam mit Partnern aus Behörden von Bund und Ländern, Industrie und Startups sowie Institutionen und Initiativen in ganz Europa.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/nrw-banner.png">
                            <div class="themeix-btn info-bg">Informationen</div>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h3>WIRTSCHAFT.NRW</h3>
                                <p>Das Ministerium für Wirtschaft, Innovation, Digitalisierung und Energie (kurz MWIDE) ist eine oberste Landesbehörde des Bundeslandes Nordrhein-Westfalen.</p>
                                <a href="https://www.wirtschaft.nrw/" target="_blank" class="themeix-btn danger-bg" style="margin-top: 1em;">Website</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/bamf-banner.png">
                            <div class="themeix-btn info-bg">Informationen</div>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h3>BAMF</h3>
                                <p>Das Bundesamt für Migration und Flüchtlinge (BAMF) ist eine deutsche Bundesoberbehörde im Geschäftsbereich des Bundesministeriums des Innern (BMI).</p>
                                <a href="http://www.bamf.de/DE/Startseite/startseite-node.html" target="_blank" class="themeix-btn danger-bg">Website</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/next-banner.png">
                            <div class="themeix-btn info-bg">Informationen</div>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h3>NExT</h3>
                                <p>Ziel des Netzwerkes ist die Entwicklung und den Transfer innovativer Digitalisierungsvorhaben
                                    gemeinsam anzugehen. BiVD übernimmt die Rolle des Blockchain Experten-Netzwerks von NExT,
                                    um nicht parallele Strukturen zum gleichen Thema mit den gleichen Zielen aufzubauen und zu betreiben.</p>
                                <a href="https://www.next-netz.de" target="_blank" class="themeix-btn danger-bg">Website</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin-bottom: 15px;">

                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/bbvb-banner.png">
                            <div class="themeix-btn info-bg">Informationen</div>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h3>Bundesblock</h3>
                                <p>Der Blockchain Bundesverband ist überzeugt, dass Blockchain und ähnliche, auf Kryptografie basierende dezentrale Technologien grundlegende infrastrukturelle Innovationen darstellen. Für die Bedeutung Deutschlands in einer digital vernetzten Welt ist diese Erkenntnis elementar. </p>
                                <a href="https://bundesblock.de" target="_blank" class="themeix-btn danger-bg">Website</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/vitako-banner.png">
                            <div class="themeix-btn info-bg">Informationen</div>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h3>VITAKO</h3>
                                <p>
                                    Vitako ist die Bundes-Arbeitsgemeinschaft der Kommunalen IT-Dienstleister e.V. 56 Rechenzentren, Software- und IT-Serviceunternehmen mit über 12.500 Beschäftigten bündeln in Vitako ihr Know-how und stellen es den Kommunen zur Verfügung.</p>
                                <a href="https://www.vitako.de/" target="_blank" class="themeix-btn danger-bg">Website</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="single-box">
                        <div class="box-inner">
                            <img src="{{site.baseurl}}/assets/images/ltc-banner.png">
                            <div class="themeix-btn info-bg">Informationen</div>
                        </div>
                        <div class="box-flip">
                            <div class="flip-box-innner">
                                <h3>Handlungsbedarf</h3>
                                <p>Das Legal Tech Center an der Europa-Universität Viadrina erforscht, entwickelt und vermittelt, was die Digitalisierung dazu beitragen kann, Arbeit mit Recht effektiver und transparenter zu machen, mehr Qualität zu gewährleisten und Zugang zum Recht für alle zu ermöglichen.</p>
                                <a href="https://legaltech.center/" target="_blank" class="themeix-btn danger-bg">Website</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- End Document Source Area -->