<div class="recent-updates-wrapper"> 
<h4 class="list-title">Recent Updates</h4>
<ul>
    <li>
        <p>Security and Maintenance Release</p><span>Documenter, Version : 2.1</span>
    </li>
    <li>
        <p>Security and Maintenance Release</p><span>Documenter, Version : 2.1</span>
    </li>
    <li>
        <p>Security and Maintenance Release</p><span>Documenter, Version : 2.1</span>
    </li>
    <li>
        <p>Security and Maintenance Release</p><span>Documenter, Version : 2.1</span>
    </li>
    <li>
        <p>Security and Maintenance Release</p><span>Documenter, Version : 2.1</span>
    </li>
</ul>
</div>

