    <!-- Start Slider Area -->
    <div class="slider-area">
        <div class="container-fluid">
            <div class="row">
                <div class="slider-wrapper-2">
                   <div id="particles-js">
                   <div class="slider-fixed-text">
                       <h1>Blockchain <span style="font-weight: 100">in der Verwaltung Deutschland</span></h1>
                       <p>Eine Initiative von Bund, Ländern und Unternehmen zur Entwicklung essentieller Basisinfrastruktur in Deutschland, für eine moderne und rechtssichere Verwaltung.</p>
                         <div class="slider-buttons">
                            <a href="/pages/updates.html" class="themeix-btn white-bg">Latests Updates</a>
                            <a href="/pages/questions.html" class="themeix-btn primary-bg">All Questions</a>
                        </div>
                   </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Slider Area -->