    <!-- Start Topics Section Area -->
    <div style="position: relative; top: -3em;"  id="vision"></div>
    <section>
        <div class="topics-section-area themeix-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-9">
                        <!-- Start Topics Link Area -->
                        <div class="topics-links">
                            <div class="themeix-section-title">
                                <h2>Vision einer Blockchain Basisinfrastruktur für Deutschland</h2>
                                <p>Der BiVD möchte gemeinsam mit Partnern aus Behörden von Bund und Ländern, Partnern aus der Industrie, Startups und Institutionen und Initiativen in ganz Europa eine belastbare, rechtssichere und zukunftsorientierte Infrastruktur für digitale Verwaltungsdienste entwickeln.</p>
                            </div>
                            <div class="row text-center">
                                <img src="../assets/images/sketches/architektur2.png" style="width: 85%; margin: 5em 0 5em 0;">
                            </div>
                            <div class="col-md-12">
                                <h2 style="margin: 2em;">Wir entwickeln Antworten auf diese Fragen:</h2>
                            </div>
                            <div class="row">
                               <!-- Start Category One -->
                                <div class="col-md-6">
                                    <div class="single-links">
                                     {% assign category = site.category_one | map: "category_name" | uniq %}
                                     {% for cat_name in category limit: "1" %}
                                      <h4 class="list-title">{{cat_name}}</h4>
                                      {% endfor %}
                                        <ul>
                                        {% for q in  site.category_one %}
                                          <li><a>{{q.question}}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                               <!-- End Category One -->

                               <!-- Start Category Two -->
                                <div class="col-md-6">
                                    <div class="single-links">
                                     {% assign category = site.category_two | map: "category_name" | uniq %}
                                     {% for cat_name in category limit: "1" %}
                                      <h4 class="list-title">{{cat_name}}</h4>
                                      {% endfor %}
                                        <ul>
                                        {% for q in  site.category_two %}
                                          <li><a>{{q.question}}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                               <!-- End Category Two -->

                               <!-- Start Category Three -->
                                <div class="col-md-6">
                                    <div class="single-links">
                                     {% assign category = site.category_three | map: "category_name" | uniq %}
                                     {% for cat_name in category limit: "1" %}
                                      <h4 class="list-title">{{cat_name}}</h4>
                                      {% endfor %}
                                        <ul>
                                        {% for q in  site.category_three %}
                                          <li><a>{{q.question}}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                               <!-- End Category Three -->

                               <!-- Start Category Four -->
                                <div class="col-md-6">
                                    <div class="single-links">
                                     {% assign category = site.category_four | map: "category_name" | uniq %}
                                     {% for cat_name in category limit: "1" %}
                                      <h4 class="list-title">{{cat_name}}</h4>
                                      {% endfor %}
                                        <ul>
                                        {% for q in  site.category_four %}
                                          <li><a>{{q.question}}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                               <!-- End Category Four -->

                            </div>
                            <div class="themeix-section-title"> 
                             <!--<div class="topics-btn">
                                <a href="/pages/questions.html" class="themeix-btn hover-bg"></a>
                             </div>-->
                         </div>
                        </div>
                        <!-- End Topics Link Area -->
                    </div>
                    <!--Start Sidebar -->
                    <div class="col-sm-4 col-md-3">
                      <div class="sidebar-list">
                          <div class="recent-updates-wrapper">
                              <h4 class="list-title">Roadmap</h4>
                              <ul>
                                  <li>
                                      <div>Kickoff</div><span>Offizielle Gründung der Initiative im Mai 2018</span>
                                  </li>
                                  <li>
                                      <div>GovTech Hackathon</div><span>19. - 21. Oktober 2018, Teilnahme am Hackathon</span>
                                  </li>
                                  <li>
                                      <div>Konzept- und Planungsphase</div><span>Gremienarbeit, technische Planung, Machbarkeitsstudien, Positionspapier</span>
                                  </li>
                                  <li>
                                      <div>Umsetzungsphase</div><span>Entwicklung einer Basisinfrastruktur u nter Berücksichtigung aller Aspekte</span>
                                  </li>
                                  <li>
                                      <div>Pilotprojekte</div><span>Umsetzung wirkungsvoller Pilotprojekte in der Implementierungsphase.</span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                    <!--End Sidebar -->
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Topics Section Area -->
